## What has changed?
{{- range $epic, $changes := .Changes }}

### {{$epic}}
    {{- range $index, $change := $changes }}
{{- if $change.IsWip }}
- :warning: [{{$change.Key}}] {{$change.Fields.Summary -}}
{{- else }}
- [{{$change.Key}}] {{$change.Fields.Summary -}}
{{- end -}}
    {{ end -}}
{{ end }}
